:root {
  --color1: #27374D;
  --color2: #526D82;
  --color3: #9DB2BF;
  --color4: #DDE6ED;
}

body {
    min-height: 100%;
    background-color: var(--color4);
    background-size:cover
}

.bg-color1 {
    background-color: var(--color1)
}

.bg-color2 {
    background-color: var(--color2)
}

.bg-color3 {
    background-color: var(--color3)
}

.bg-color4 {
    background-color: var(--color4)
}

.text-color1 {
    color: var(--color1)
}

.text-color3 {
    color: var(--color3)
}

.text-color4 {
    color: var(--color4)
}

.button1 {
    color: var(--color4);
    background-color: var(--color1);
    border-color: var(--color1);
    border-style: solid
}

.button3 {
    color: var(--color1);
    background-color: var(--color3);
    border-color: var(--color3);
    border-style: solid
}

.button4 {
    color: var(--color3);
    background-color: var(--color4);
    border-color: var(--color4);
    border-style: solid
}